{% extends "MspUserBundle::layout.html.twig" %}

{# Le titre de la page (defaut MathSup) #}
{% block title %}CONNEXION | {{ parent() }}{% endblock %}
{# La description de la page (defaut vide) #}
{% block description %}{% endblock %}
{# Les mots clés de la page (defaut vide) #}
{% block keywords %}{% endblock %}
{# Indication pour les robots de la page  (defaut all) #}
{% block robots %}noindex, nofollow{% endblock %}

{# Le titre de l'entête du document #}
{% block entetetitle %}CONNEXION | {{ parent() }}{% endblock %}
{# La barre latéralke de la page #}
{% block aside %}{{ parent() }}{% endblock %}
    
{% block fos_user_content %}

<header>
    <h1>CONNEXION</h1>
</header>

{% if error %}
    <div class="alert alert-error">{{ error|trans({}, 'FOSUserBundle') }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post">
    <fieldset>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

        <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="Login" required="required" /><br/>

        <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
        <input type="password" id="password" name="_password" placeholder="Mot de passe" required="required" /><br/>

        <label for="remember_me" class="checkbox">
            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
            {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
        </label><br/>
        
        <input type="submit" id="_submit" class="btn btn-primary" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
        
        <a class="btn" href="{{ path("fos_user_resetting_request") }}">Mot de passe oublié<i class="icon-chevron-right"></i></a>
        
    </fieldset>
</form>

{% endblock fos_user_content %}
