{% extends "MspFrontendBundle::user-layout.html.twig" %}

{# Le titre de la page (defaut MathSup) #}
{% block title %}CHAPITRE {{ entity.libelle }} | {{ parent() }}{% endblock %}
{# La description de la page (defaut vide) #}
{% block description %}{% endblock %}
{# Les mots clés de la page (defaut vide) #}
{% block keywords %}{% endblock %}
{# Indication pour les robots de la page  (defaut all) #}
{% block robots %}noindex, nofollow{% endblock %}

{# Le titre de l'entête du document #}
{% block entetetitle %}CHAPITRE {{ entity.libelle }} | {{ parent() }}{% endblock %}
{# La barre latéralke de la page #}
{% block aside %}{{ parent() }}{% endblock %}
{# Le contenu de la page #}

{% block body -%}
    <h1>Chapitre "{{ entity.libelle }}"</h1>

    <table class="table table-hover">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ entity.libelle }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ entity.date|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="inline">
    <li>
        <a class="btn" href="{{ path('chapitre') }}">
            <i class="icon-chevron-left"></i> Retour à la liste
        </a>
    </li>
    <li>
        <a class="btn" href="{{ path('chapitre_edit', { 'id': entity.id }) }}">
            Modifier <i class="icon-edit"></i>
        </a>
    </li>
    <li>
        <form action="{{ path('chapitre_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button class="btn btn-danger" type="submit">Supprimer <i class="icon-remove"></i></button>
        </form>
    </li>
</ul>
{% endblock %}
