<div class="navbar">
    <div class="navbar-inner">
        <ul class="nav">
            <li class="active"><a href="{{ path('msp_admin', { slug: app.user.slug}) }}"><i class="icon-user"></i></a></li>
            <li><a href="{{ path('departement') }}">DEPARTEMENT</a></li>
            <li><a href="{{ path('cours') }}">COURS</a></li>
            <li><a href="{{ path('niveau') }}">NIVEAU</a></li>
            <li><a href="{{ path('difficulter') }}">DIFFICULTÉ</a></li>
            <li><a href="{{ path('classe') }}">CLASSE</a></li>
            <li><a href="{{ path('eleve') }}">Gestion des Elèves</a></li>
            <li><a href="{{ path('professeur') }}">Gestion des Professeurs</a></li>
            <li><a href="{{ path('chapitre') }}">Gestion des Corrigés</a></li>                               
            <li><a href="{{ path('qcm') }}">Gestion des QCM</a></li>                
        </ul>
    </div>
</div>