{% extends "MspFrontendBundle::user-layout.html.twig" %}

{# Le titre de la page (defaut MathSup) #}
{% block title %}LIST DES PROFESSEURS | {{ parent() }}{% endblock %}
{# La description de la page (defaut vide) #}
{% block description %}{% endblock %}
{# Les mots clés de la page (defaut vide) #}
{% block keywords %}{% endblock %}
{# Indication pour les robots de la page  (defaut all) #}
{% block robots %}noindex, nofollow{% endblock %}

{# Le titre de l'entête du document #}
{% block entetetitle %}LIST DES PROFESSEURS | {{ parent() }}{% endblock %}
{# La barre latéralke de la page #}
{% block aside %}{{ parent() }}{% endblock %}
{# Le contenu de la page #}

{% block body -%}
    <h1>List des Professeurs</h1>
    
    {% if option %}    
    <ul class="inline">
        <li>
            <a class="btn" href="{{ path("professeur") }}">
                <i class="icon-arrow-left"></i> Retour à la liste complète
            </a>
        </li>
    </ul>
    {% endif %}
    
    <table id="table"  class="sortable" cellpadding="0" cellspacing="0" border="0">
        <thead>
            <tr>
                <th><h3>ID</h3></th>
                <th><h3>Nom</h3></th>
                <th><h3>Département</h3></th>
                <th><h3>Ville</h3></th>                
                <th><h3>Niveau</h3></th>
                <th class="nosort"><h3>Actions</h3></th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('professeur_show', { 'id': entity.id }) }}">P{{ entity.id }}</a></td>
                <td>{{ entity.nom }} {{ entity.prenom }}</td>
                <td>                    
                    {% if option.departement is defined %}
                    {{ entity.departement }}
                    {% else %}
                    <a href="{{ path('professeur', { 'departement': entity.departement.id }) }}">
                        {{ entity.departement }}
                    </a>
                    {% endif %}
                </td>
                <td>{{ entity.ville }}</td>                
                <td></td>
                <td>
                <ul class="nav nav-list">
                    <li>
                        <a class="btn" href="{{ path('professeur_show', { 'id': entity.id }) }}">Voir <i class="icon-align-justify"></i></a>
                    </li>
                    <li>
                        <a class="btn" href="{{ path('professeur_edit', { 'id': entity.id }) }}">Modifier <i class="icon-edit"></i></a>
                    </li>
                    <li>
                        <a class="btn" href="{{ path('professeur_taux', { 'id': entity.id }) }}">Gérer Taux <i class="icon-tasks"></i></a>
                    </li>
                    <li>
                        <a class="btn" href="{{ path('professeur_bilan_mensuel', { 'id': entity.id }) }}">Bilan Mensuel <i class="icon-align-justify"></i></a>
                    </li>
                    <li>
                        <a class="btn" href="{{ path('professeur_fiche_paie', { 'id': entity.id }) }}">Fiche Paie <i class="icon-align-justify"></i></a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
    <div id="controls">
        <div id="perpage">
            <select onchange="sorter.size(this.value)">
                <option value="5">5</option>
                <option value="10" selected="selected">10</option>
                <option value="20">20</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
            <span>Professeurs / Page</span>
        </div>
        <div id="navigation">
            <img src="{{ asset('img/sorter/first.gif') }}" width="16" height="16" alt="First Page" onclick="sorter.move(-1,true)" />
            <img src="{{ asset('img/sorter/previous.gif') }}" width="16" height="16" alt="First Page" onclick="sorter.move(-1)" />
            <img src="{{ asset('img/sorter/next.gif') }}" width="16" height="16" alt="First Page" onclick="sorter.move(1)" />
            <img src="{{ asset('img/sorter/last.gif') }}" width="16" height="16" alt="Last Page" onclick="sorter.move(1,true)" />
        </div>
        <div id="text">Page <span id="currentpage"></span> / <span id="pagelimit"></span></div>
    </div>
    
    <div class="clearfix"></div>
    
    <ul class="inline">
        <li>
            <a class="btn" href="{{ path('msp_professeur_inscription') }}">
                Ajouter un professeur <i class="icon-chevron-right"></i>
            </a>
        </li>
    </ul>
{% endblock %}
    
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('javascript/sorter.js') }}"></script>
    <script type="text/javascript" src="{{ asset('javascript/start_sorter.js') }}"></script>
{% endblock %}
