{% extends "MspUserBundle::layout.html.twig" %}

{# Le titre de la page (defaut MathSup) #}
{% block title %}INSCRIPTION ÉLÈVE | {{ parent() }}{% endblock %}
{# La description de la page (defaut vide) #}
{% block description %}{% endblock %}
{# Les mots clés de la page (defaut vide) #}
{% block keywords %}{% endblock %}
{# Indication pour les robots de la page  (defaut all) #}
{% block robots %}noindex, nofollow{% endblock %}

{# Le titre de l'entête du document #}
{% block entetetitle %}INSCRIPTION ÉLÈVE | {{ parent() }}{% endblock %}

{# On retire le menu niveau #}
{% block menuNiveau %}{% endblock %}

{% block fos_user_content %}
<header>        
    <h1 class="light">VOUS NOUS REMERCIEREZ PLUS TARD</h1>    
</header>
<div class="wrap-form">
    <article class="container">
        <h1 class="avenirNextBold">
            {%- if flow.getCurrentStepNumber() < 3 -%}
            D'ABORD COMPLÉTEZ VOTRE PROFIL ...
            {% elseif flow.getCurrentStepNumber() == 3%}
            MAINTENANT DITES NOUS QUELS SONT VOS OBJECTIFS ...
            {% elseif flow.getCurrentStepNumber() == 4%}
            ENFIN CHOISSISSEZ VOTRE FORMULES.
            {% endif %}
        </h1>        
        <!--<div>
            Etapes:
            {% include 'CraueFormFlowBundle:FormFlow:stepList.html.twig' %}
        </div>   -->     
        
        <form action="{{ path('msp_eleve_inscription') }}" {{ form_enctype(form) }} method="POST" class="eleve_registration">
            <fieldset>
                {%- if flow.getCurrentStepNumber() == 1 %}
                <legend class="avenirNextBold espace-eleve">ESPACE ÉLÈVE</legend>
                {% elseif flow.getCurrentStepNumber() == 2 %}
                <legend class="avenirNextBold espace-parent">ESPACE PARENT</legend>                
                {% endif %}
                {% if flow.getCurrentStepNumber() < flow.getLastStepNumber() -%}
                <div class="form-wrap-inner row-fluid form-with-padding">                                 
                    <div class="wrap-left">
                    {% include 'CraueFormFlowBundle:FormFlow:stepField.html.twig' %}  
                    {{ form_widget(form) }}
                    </div>                    
                    {% set renderBackButton = flow.getCurrentStepNumber() in (flow.getFirstStepNumber() + 1) .. flow.getLastStepNumber() %}
                    <div class="craue-button">                        
                            <!--<button class="btn btn-danger" type="submit" class="craue_formflow_button_first" name="{{ flow.getFormTransitionKey() }}" value="reset" formnovalidate="formnovalidate">
                                    {{- 'button.reset' | trans({}, 'CraueFormFlowBundle') -}}
                            </button>
                            <br/><br/>
                            {% if renderBackButton %}
                                    {# see http://www.html5rocks.com/en/tutorials/forms/html5forms/ #}
                                    <button class="btn btn-info" type="submit" name="{{ flow.getFormTransitionKey() }}" value="back" formnovalidate="formnovalidate">
                                            {{- 'button.back' | trans({}, 'CraueFormFlowBundle') -}}
                                    </button>
                                    <br/><br/>
                            {% endif %}
                            -->  
                            {%- if flow.getCurrentStepNumber() == 1 or flow.getCurrentStepNumber() == 3 %}
                            <div class="{% if flow.getCurrentStepNumber() == 1 %}align-profil{% else %}align-objectifs{% endif %}" >
                            <button type="submit" class="craue_poursuivre">                                  
                                <img src="{{ asset('/img/poursuivre.png') }}" alt=""/>
                            </button>
                            </div>
                            {%- elseif flow.getCurrentStepNumber() == 2 %}
                            <button type="submit" class="craue_poursuivre">                                  
                                <img src="{{ asset('/img/valider.png') }}" alt=""/>                            
                            </button>
                            {%- endif %}                        
                    </div>                    
                </div>
                {% else %}
                <div class="form-wrap-inner row-fluid">                     
                    {% include 'CraueFormFlowBundle:FormFlow:stepField.html.twig' %}  
                    {{ form_widget(form) }}
                </div>
                {% endif %}
                {%- if flow.getCurrentStepNumber() == flow.getLastStepNumber() -%}
                <div class="footer-form">
                    <p class="form-text-end">
                        Vous n'avez pas encore fait votre choix. Vous souhaitez bénéficier de nos conseils…
                    </p>
                    <a class="pull-right" href="{{ path('msp_contact') }}" target="_blank"><img src="{{ asset('/img/mecontacter.png') }}" alt=""/></a>
                    <div class="clearfix"></div>
                </div>
                <div class="text-center">
                    <button type="submit" class="craue_poursuivre">                                  
                        <img src="{{ asset('/img/terminer-inscription.png') }}" alt=""/>                                
                    </button>
                </div>
                {%- endif %}                
            </fieldset>
        </form>
        <p class=""><a class="btn" href="{{ path('fos_user_registration_register')}}">INSCRIPTION PROFESSEUR</a></p>
    </article>
</div>

{% endblock fos_user_content %}

