{% extends "MspFrontendBundle::layout.html.twig" %}

{# Le titre de la page (defaut MathSup) #}
{% block title %}COLLÈGE | {{ parent() }}{% endblock %}
{# La description de la page (defaut vide) #}
{% block description %}{% endblock %}
{# Les mots clés de la page (defaut vide) #}
{% block keywords %}{% endblock %}
{# Indication pour les robots de la page  (defaut all) #}
{% block robots %}noindex, nofollow{% endblock %}

{# Le titre de l'entête du document #}
{% block entetetitle %}COLLÈGE | {{ parent() }}{% endblock %}
{# La barre latéralke de la page #}
{% block aside %}{{ parent() }}{% endblock %}
{% block college %}
<li class="active">
    <a href="{{ path('msp_college') }}">COLLÈGE</a>
    <ul class="nav nav-list">
        <li><a href="{{ path('msp_college_section', { 'page': "6ieme" } ) }}">6<sup>ième</sup></a></li>
        <li><a href="{{ path('msp_college_section', { 'page': "5ieme" } ) }}">5<sup>ième</sup></a></li>
        <li><a href="{{ path('msp_college_section', { 'page': "4ieme" } ) }}">4<sup>ième</sup></a></li>
        <li><a href="{{ path('msp_college_section', { 'page': "3ieme" } ) }}">3<sup>ième</sup></a></li>
    </ul>
</li>
{% endblock %}
{# Le contenu de la page #}
{% block content %}
    <article class="span9">
        <h1>COLLÈGE</h1>
    </article>    
{% endblock %}{# empty Twig template #}
