{% block registration_eleve_widget %}
{% spaceless %}
<div class="row-fluid">
    {# Affichage du formulaire etape 1 #}
    {% if form.nom is defined %}
    <div class="span5 border-form-1">        
        {# Affichage du champ nom #}
        <div class="control-group">
            {{ form_label(form.nom, null, {'label_attr': {'class' : 'control-label' }}) }}
            <div class="controls">
            {% if form.nom.vars.errors|length %}
                {{ form_widget(form.nom, {'attr' : {'class' : 'input-large alert'}}) }}
            {% else %}
                {{ form_widget(form.nom, {'attr' : {'class' : 'input-large'}}) }}
            {% endif %}
            </div>
            {{ form_errors(form.nom) }}
        </div>
        {# Affichage du champ prenom #}
        <div class="control-group">
            {{ form_label(form.prenom, null, {'label_attr': {'class' : 'control-label' }}) }}
            <div class="controls">
            {% if form.prenom.vars.errors|length %}
                {{ form_widget(form.prenom, {'attr' : {'class' : 'input-large alert'}}) }}
            {% else %}
                {{ form_widget(form.prenom, {'attr' : {'class' : 'input-large'}}) }}
            {% endif %}
            </div>
            {{ form_errors(form.prenom) }}
        </div>
        {# Affichage du champ email #}        
        <div class="control-group">
            {{ form_label(form.email, null, {'label_attr': {'class' : 'control-label' }}) }}
            <div class="controls">
            {% if form.email.vars.errors|length %}
                {{ form_widget(form.email, {'attr' : {'class' : 'input-large alert'}}) }}
            {% else %}
                {{ form_widget(form.email, {'attr' : {'class' : 'input-large'}}) }}
            {% endif %}
            </div>
            {{ form_errors(form.email) }}
        </div>
    </div>
    {# Affichage du formulaire etape 2 #}
    {% elseif form.adresse is defined %}
    <div class="span5 border-form-2">
        <div>
            <p class="avenirNextBold">
                {{ form.vars.data.nom }}
            </p>
            <p class="avenirNextBold">
                {{ form.vars.data.prenom }}
            </p> 
        </div>
        <div class="edit-profil">
            <a href="{{ path('msp_eleve_inscription') }}">Modifier</a>
        </div>
    </div>
    <div class="span7">
        {# Affichage du champ email #}
        <div class="span6">
            <div class="control-group">
                {{ form_label(form.email, null, {'label_attr': {'class' : 'control-label' }}) }}
                <div class="controls">
                {% if form.email.vars.errors|length %}
                    {{ form_widget(form.email, {'attr' : {'class' : 'input-large alert'}}) }}
                {% else %}
                    {{ form_widget(form.email, {'attr' : {'class' : 'input-large'}}) }}
                {% endif %}
                </div>
                {{ form_errors(form.email) }}
            </div>
        </div>
        <div class="span6">
            {# Affichage du champ numeroPortable #}
            <div class="control-group">
                {{ form_label(form.numeroPortable, null, {'label_attr': {'class' : 'control-label' }}) }}
                <div class="controls">
                {% if form.numeroPortable.vars.errors|length %}
                    {{ form_widget(form.numeroPortable, {'attr' : {'class' : 'alert'}}) }}
                {% else %}
                    {{ form_widget(form.numeroPortable, {'attr' : {'class' : ''}}) }}
                {% endif %}
                </div>
                {{ form_errors(form.numeroPortable) }}
            </div>
        </div>
        <div class="clearfix"></div>
        {# Affichage du champ adresse #}
        <div class="control-group">
            {{ form_label(form.adresse, null, {'label_attr': {'class' : 'control-label' }}) }}
            <div class="controls">
            {% if form.adresse.vars.errors|length %}
                {{ form_widget(form.adresse, {'attr' : {'class' : ' alert'}}) }}
            {% else %}
                {{ form_widget(form.adresse, {'attr' : {'class' : ''}}) }}
            {% endif %}
            </div>
            {{ form_errors(form.adresse) }}
        </div>
        <div class="left-side">
           {# Affichage du champ numeroPortable #}
           <div class="control-group">
               {{ form_label(form.classe, null, {'label_attr': {'class' : 'control-label' }}) }}
               <div class="controls">
               {% if form.classe.vars.errors|length %}
                   {{ form_widget(form.classe, {'attr' : {'class' : 'input-large alert'}}) }}
               {% else %}
                   {{ form_widget(form.classe, {'attr' : {'class' : 'input-large'}}) }}
               {% endif %}
               </div>
               {{ form_errors(form.classe) }}
           </div>
        </div>
        <div class="right-side">
            <div class="control-group">
                <label class="niveau-estime">Niveau estimé :</label>
                <div class="controls">
                   <div id="slider-blue">
                       
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
         {# Affichage du champ numeroPortable #}
        <div class="control-group">
            {{ form_label(form.dateDeNaissance, null, {'label_attr': {'class' : 'control-label' }}) }}
            <div class="controls">
            {% if form.dateDeNaissance.vars.errors|length %}
                {{ form_widget(form.dateDeNaissance, {'attr' : {'class' : 'input-large alert'}}) }}
            {% else %}
                {{ form_widget(form.dateDeNaissance, {'attr' : {'class' : 'input-large'}}) }}
            {% endif %}
            <span class="help-form">Format jj/mm/aaaa</span>
            </div>
            {{ form_errors(form.dateDeNaissance) }}
        </div>
    </div>
    {% elseif form.userFamily is defined %}
        {# Affichage du champ userFamily #}  
        <p class="parent-title">
            S’enregistrer en tant que parent d’élève.
        </p>
        <div class="control-group parent-field">
            {{ form_label(form.userFamily.nom, null, {'label_attr': {'class' : 'control-label' }}) }}
            <div class="controls">
            {% if form.userFamily.nom.vars.errors|length %}
                {{ form_widget(form.userFamily.nom, {'attr' : {'class' : 'alert'}}) }}
            {% else %}
                {{ form_widget(form.userFamily.nom, {'attr' : {'class' : ''}}) }}
            {% endif %}            
            </div>
            {{ form_errors(form.userFamily.nom) }}
        </div>
        {# Affichage du champ userFamily.prenom #}
        <div class="control-group parent-field">
            {{ form_label(form.userFamily.prenom, null, {'label_attr': {'class' : 'control-label' }}) }}
            <div class="controls">
            {% if form.userFamily.prenom.vars.errors|length %}
                {{ form_widget(form.userFamily.prenom, {'attr' : {'class' : 'alert'}}) }}
            {% else %}
                {{ form_widget(form.userFamily.prenom, {'attr' : {'class' : ''}}) }}
            {% endif %}            
            </div>
            {{ form_errors(form.userFamily.prenom) }}
        </div>
    {% elseif form.objectifs is defined %}    
        {# Affichage du champ objectifs #}
        <div class="control-group objectifs-text">
            {{ form_label(form.objectifs, null, {'label_attr': {'class' : 'control-label' }}) }}
            <div class="controls">
            {% if form.objectifs.vars.errors|length %}
                {{ form_widget(form.objectifs, {'attr' : {'class' : 'alert'}}) }}
            {% else %}
                {{ form_widget(form.objectifs, {'attr' : {'class' : ''}}) }}
            {% endif %}            
            </div>
            {{ form_errors(form.objectifs) }}
        </div>
    {% else %}
        {# Affichage du champ cours #}
        {% for key, cours in form.cours %}
        <div class="formule-cours formule-cours-{{key + 1}}">
            <figure>
            {% if key == 0 %}                
                <img src="{{ asset('/img/logo_cours_domicile.jpg') }}" alt="" />                
            {% elseif key == 1 %} 
                <img src="{{ asset('/img/logo_cours_distance.jpg') }}" alt="" />                
            {% else %}                
                <img src="{{ asset('/img/logo_classe_virtuelle.jpg') }}" alt="" />                
            {% endif  %}
            </figure>
            <p>                
                {% if key == 0 %}
                    <span class="avenirNextDemiBold">Cours à domicile</span>
                    Cours particuliers à domicile
                {% elseif key == 1 %}
                    <span class="avenirNextDemiBold">Face à face</span>
                    Cours particuliers en ligne
                {% else %}
                    <span class="avenirNextDemiBold">Classe virtuelle</span>
                    Cours en ligne (25 élèves)
                {% endif  %}
            </p>
            <div>
            {% if cours.vars.errors|length %}
                {{ form_widget(cours, {'attr' : {'class' : 'alert'}}) }}
            {% else %}
                {{ form_widget(cours, {'attr' : {'class' : ''}}) }}
            {% endif %}            
            </div>
            {{ form_errors(cours) }}
        </div>
        {% endfor %}
        {# Affichage du champ pack #}
        {% for key, pack in form.pack %}
        <div class="formule-pack formule-pack-{{key + 1}} hide">
            <p>
            {% if key == 0 %}                
                <strong class="avenirNextDemiBold">Pack</strong>
                <span class="avenirNextDemiBold">12 H</span>
                240 €                
            {% elseif key == 1 %} 
                <strong class="avenirNextDemiBold">Pack</strong>
                <span class="avenirNextDemiBold">24 H</span>
                470 €  
            {% elseif key == 2 %} 
                <strong class="avenirNextDemiBold">Pack</strong>
                <span class="avenirNextDemiBold">36 H</span>
                700 €          
            {% else %}                
                <strong class="avenirNextDemiBold">Pack</strong>
                <span class="avenirNextDemiBold">36 H</span>
                930 €       
            {% endif  %}
            </p>
            <div>
            {% if pack.vars.errors|length %}
                {{ form_widget(pack, {'attr' : {'class' : 'alert'}}) }}
            {% else %}
                {{ form_widget(pack, {'attr' : {'class' : ''}}) }}
            {% endif %}            
            </div>
            {{ form_errors(pack) }}
        </div>
        {% endfor %}
    {% endif %}
    {{ form_rest(form) }}    
</div>
{% endspaceless %}
{% endblock %}
