{% extends "::layout.html.twig" %}

{% block content %}
<section class="span9">
    {% block navbaruser %}
    <div class="navbar">
        <div class="navbar-inner">
            <ul class="nav">
                <li class="active"><a href="{{ path('msp_admin', { slug: app.user.slug}) }}"><i class="icon-user"></i></a></li>
                <li><a href="{{ path('departement') }}">DEPARTEMENT</a></li>
                <li><a href="{{ path('cours') }}">COURS</a></li>
                <li><a href="{{ path('niveau') }}">NIVEAU</a></li>
                <li><a href="{{ path('difficulter') }}">DIFFICULTÉ</a></li>
                <li><a href="{{ path('classe') }}">CLASSE</a></li>
                <li><a href="{{ path('chapitre') }}">GESTION CORRIGÉS</a></li>                               
                <li><a href="{{ path('qcm') }}">GESTION QCM</a></li>                
            </ul>
        </div>
    </div>
    {% endblock %}
    {% block body %}
    {% endblock %}
     
</section>
{% endblock %}